<u><h1 class="text-center h1-index">Rent one of these toys!</h1></u>
<br>
<div class="container-fluid">
  <div class="toys-index-wrapper">
    <div class="cards-container">
      <div class="row">
        <% @toys.each do |toy| %>
        <div class="col-xs-6 col-md-4">
          <div class="card" style= "background-image: url(<%= cl_image_path toy.photo, height: 200, crop: :fill %>)">
            <div class="card-category"><%= toy.category.capitalize %></div>
            <div class="card-price"><%= number_to_currency(toy.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %>/day</div>
            <div class="card-title"><%= toy.name.upcase %></div>
            <%= link_to '', toy_path(toy), class:'card-link' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row col-xs-12 col-md-4">
      <div class="map-container">
        <div id="map" style="width: 100%; height: 700px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="button-container">
  <% if user_signed_in? %>
    <%= link_to 'Rent your toy!', new_toy_path, class:'button-form' %>
  <% end %>
</div>

