<div class="tab">
  <button class="bookings-btn not-active">Bookings</button>
  <button class="rentals-btn not-active">Rentals</button>
  <button class="mytoys-btn not-active">My Toys</button>
</div>

<div id="diff-bookings">

    <div id="bookings" style= " display: block;">
      <% @bookings.each do |booking| %>
        <div class="each-toy">
            <div class="toy-name">
              <p class= "name"><%= booking.toy.name.capitalize %></p>
              <%= link_to (cl_image_tag booking.toy.photo, height: 70, crop: :fill),toy_path(booking.toy)  %>
            </div>
            <div class="toy-date-price">
              <p class= "date"><%= "#{booking.start_date.strftime('%e/%m/%Y')} - #{booking.end_date.strftime('%e/%m/%Y')}" %></p>
              <% price = (booking.end_date - booking.start_date + 1).to_i * booking.toy.price.to_i %>
              <p><%= number_to_currency(price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></p>
            </div>
            <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data:
            {confirm: "Are your sure you want to delete the booking for #{booking.toy.name}" },class: "button-form btn-booking"  %>
        </div>
      <% end %>
    </div>


    <div id="rentals" style= " display: none;">
      <% @rentals.each do |booking| %>
          <div class="each-toy">
            <div class="toy-name">
              <p class= "name"><%= booking.toy.name.capitalize %></p>
              <%= link_to (cl_image_tag booking.toy.photo, height: 70, crop: :fill),toy_path(booking.toy)  %>
            </div>
            <div class="toy-date-price">
              <p class= "date"><%= " #{booking.start_date.strftime('%e/%m/%Y')}  - #{booking.end_date.strftime('%e/%m/%Y')}" %></p>
              <% price = (booking.end_date - booking.start_date + 1).to_i * booking.toy.price.to_i %>
              <p><%= number_to_currency(price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></p>
            </div>
            <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data:
            {confirm: "Are your sure you want to delete the booking for #{booking.toy.name}" }, class: "button-form btn-booking"  %>
          </div>
      <% end %>
    </div>


    <div class="row" id="mytoys" style=" display: none;">
     <% @mytoys.each do |toy| %>
      <div class="col-xs-6 col-md-4">
            <div class="card each-mytoy" style= "background-image: url(<%= cl_image_path toy.photo, height: 200, crop: :fill %>)">
                <p class= "card-category"><%=toy.category.capitalize %></p>
                <div class="card-price"><%= number_to_currency(toy.price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %>/day</div>
                <div class="card-title"><%= toy.name.upcase %></div>
                <%= link_to '', toy_path(toy), class:'card-link' %>
            </div>
      </div>
    <% end %>
</div>




