<h1>These are your bookings:</h1>
<% @bookings.each do |booking| %>
  <% if booking.user == current_user %>
<p><%= booking.toy.name %></p>
  <p><%= " From: #{booking.start_date.strftime('%e/%m/%Y')}  To: #{booking.end_date.strftime('%e/%m/%Y')}" %></p>
  <% price = (booking.end_date - booking.start_date + 1).to_i * booking.toy.price.to_i %>
  <p><%= price %></p>
<%= link_to "Cancel Booking", booking_path(booking), method: :delete, data:
            {confirm: "Are your sure you want to delete the booking for #{booking.toy.name}" }  %>
  <% end %>

<% end %>

  <%= link_to toys_path do %>
  <i class="fas fa-long-arrow-alt-left"></i>

  <% end %>
