
  <div id="diff-booking">
    <div class="bookings">
      <h1>Bookings:</h1>
      <% @bookings.each do |booking| %>
        <div class="each-toy">
          <%# if booking.user == current_user %>
            <div class="toy-name">
              <%= cl_image_tag booking.toy.photo, height: 70, crop: :fill %>
              <p><%= booking.toy.name.capitalize %></p>
            </div>
            <div class="toy-date-price">

              <p><%= "#{booking.start_date.strftime('%e/%m/%Y')} - #{booking.end_date.strftime('%e/%m/%Y')}" %></p>
              <% price = (booking.end_date - booking.start_date + 1).to_i * booking.toy.price.to_i %>
              <p><%= number_to_currency(price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></p>
            </div>
            <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data:
            {confirm: "Are your sure you want to delete the booking for #{booking.toy.name}" },class: "button-form"  %>
          <%# end %>
        </div>
      <% end %>
    </div>


    <div class="rentals">
      <h1>Rentals:</h1>
      <% @bookings.each do |booking| %>
        <% if booking.toy.user == current_user %>

          <div class="each-toy">
            <div class="toy-name">
              <%= cl_image_tag booking.toy.photo, height: 70, crop: :fill %>
              <p><%= booking.toy.name.capitalize %></p>
            </div>
            <div class="toy-date-price">
              <p><%= " #{booking.start_date.strftime('%e/%m/%Y')}  - #{booking.end_date.strftime('%e/%m/%Y')}" %></p>
              <% price = (booking.end_date - booking.start_date + 1).to_i * booking.toy.price.to_i %>
              <p><%= number_to_currency(price, unit: "€", separator: ",", delimiter: ".", format: "%n %u") %></p>
            </div>
            <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data:
            {confirm: "Are your sure you want to delete the booking for #{booking.toy.name}" }, class: "button-form"  %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



